<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <% const appName = require('./brand.js').APP_NAME; %>
    <title><%= appName %></title>
    <meta name="description" content="<%= appName %> converts Scratch projects into HTML files, zip archives, or executable programs for Windows, macOS, and Linux.">
    <style>
      @media (prefers-color-scheme: dark) {
        body:not([p4-loaded]) {
          background-color: #111;
        }
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
