.root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layers {
  position: relative;
}
.layers > * {
  position: absolute;
}
.root * {
  box-sizing: border-box;
}

.question-root {
  bottom: 0;
  width: 100%;
  color: black;
}
.question-inner {
  margin: 0.5rem;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 0.5rem;
  border-width: 2px;
  padding: 1rem;
  background: white;
}
.question-text {
  font-size: 12px;
  padding-bottom: 8px;
  font-weight: bold;
}
.question-input-outer {
  position: relative;
}
.question-input {
  width: 100%;
  height: 2rem;
  padding: 0 12px;
  font-size: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 2rem;
  outline: none;
  transition: 0.25s ease-out;
  box-shadow: none;
  text-overflow: ellipsis;
  color: inherit;
}
.question-input:focus {
  border-color: hsla(215, 100%, 65%, 1);
  box-shadow: 0px 0px 0px 3px hsla(215, 100%, 65%, 0.35);
}
.question-input:hover {
  border-color: hsla(215, 100%, 65%, 1);
}

.monitor-overlay {

}
.monitor-root {
  position: absolute;
  top: 0;
  left: 0;
  background: hsla(215, 100%, 95%, 1);
  color: #575e75;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
  font-size: 12px;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.monitor-inner {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.monitor-row {
  display: flex;
  flex-direction: row;
}
.monitor-label {
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
}
.monitor-slider {
  margin: 0;
}
.monitor-value {
  min-width: 40px;
  text-align: center;
  color: white;
  margin: 0 5px;
  border-radius: 4px;
  padding: 0 2px;
  white-space: pre-wrap;
  background-color: #0fbd8c;
}
.monitor-root[opcode^="motion_"] .monitor-value-color {
  background-color: #4c97ff;
}
.monitor-root[opcode^="sensing_"] .monitor-value-color {
  background-color: #5cb1d6;
}
.monitor-root[opcode^="data_"] .monitor-value-color {
  background-color: #ff8c1a;
}
.monitor-root[opcode^="looks_"] .monitor-value-color {
  background-color: #9966ff;
}
.monitor-root[opcode^="sound_"] .monitor-value-color {
  background-color: #cf63cf;
}
.monitor-large-value {
  min-height: 1.4rem;
  min-width: 3rem;
  padding: 0.1rem 0.25rem;
  text-align: center;
  color: white;
  font-size: 1rem;
  white-space: pre-wrap;
}

.monitor-list-label {
  background-color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.15);
  padding: 3px;
}
.monitor-list-footer {
  background-color: white;
  text-align: center;
  font-weight: bold;
  padding: 3px;
}
.monitor-rows-outer {
  flex-grow: 1;
}
.monitor-rows-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.monitor-rows-endpoint {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.monitor-row-root {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  width: 100%;
}
.monitor-row-index {
  font-weight: bold;
  color: hsla(225, 15%, 40%, 1);
  margin: 0 3px;
}
.monitor-row-value-outer {
  min-width: 40px;
  height: 22px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  background-color: rgb(252, 102, 44);
  color: white;
  margin: 0 3px;
  border-radius: calc(0.5rem / 2);
  flex-grow: 1;
}
.monitor-row-value-inner {
  padding: 3px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
  white-space: pre;
}
